@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 28, 65);
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.boxes{
    display: flex;
    gap: 30px;
}

.left,
.right {
  width: 180px;
  height: 245px;
  border: 1px solid white;
  border-style: dashed;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  background-color: rgb(201, 87, 254);
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  cursor: grab;
}
